{
  "presets": ["env", "react"],
  "plugins": ["transform-object-rest-spread", "transform-class-properties", "add-module-exports"],
  "env": {
    "commonjs": {
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]]
    }
  }
}
